.background-container {
  position: relative;
}

.green-bg {
  background-color: #2e9687;
  height: 20vh;

}

.grey-bg {
  background-color: #dbdbd2;
  height: 80vh;
  
}

.container-chat {
  position: absolute;
  top: 10%;
  left: 10%;    
  width: 80%;
}

.myprofile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.container-chat .nome-utente {
    font-size: 0.8em;
    font-weight: bold;
}