/* UTILITY */
.bg-white {
  background-color: #eaeaea;
}

.bg-azzurro {
  background-color: #8edafc;
}

.green-bg {
  background-color: #2e9687;
  height: 30vh;
}

.accessi {
  color:grey;
  font-size: 0.6em;
}

.icone {
  color: lightgrey;
}

.icone:hover {
  cursor: pointer;
  color: black;
  transform: scale(1.1);
}

.grey-bg {
  background-color: #dbdbd2;
  height: 70vh;
}

.container-boolzapp {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 90%;
  background-image:url("../img/beautiful-landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.myprofile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.container-boolzapp .nome-utente {
  font-size: 0.8em;
  font-weight: bold;
}

.fa-bell {
  font-size: 1.6em;
  color: #8edafc;
  padding: 0.3em;
  background-color: white;
  border-radius: 50%;
}

.notifiche-container .paragraph-notifiche {
  font-size: 0.7em;
  margin-bottom: 5px;
}

.notifiche-container .notifiche-link {
  font-size: 0.7em;
  margin: 0;
}

.notifiche-container .notifiche-link:hover {
  color: crimson;
}

.container-chat  {
  overflow-y: auto;
  height: 300px;
}

.box-chat:hover, 
.box-chat.active{
  cursor: pointer;
  background-color: #e9ebeb;
}

.nome-utente {
  font-size: 1em;
  margin: 0;
}

.chat-utente {
  font-size: 0.8em;
  color: #B8BABC;
}

.data-chat {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 0.6em;
  color: lightgrey;
}

.fa-face-smile{
  cursor: pointer;
}

.fa-face-smile:hover{
  transform: scale(1.1);
}

.chats-container {
  height: 350px;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
}

.box-message {
  background-color: white;
  border-radius: 1em;
  padding: 1em;
  width: 40%;
  font-size: 0.8em;
  position: relative;
}

.box-message .date-message {
  position: absolute;
  bottom: 5px;
  right: 10px;
  margin: 0;
  font-size: 0.7em;
  color: #B8BABC;
}

.box-message.sent {
  background-color: #D5F9BA;
  align-self: flex-end;
}